{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div class="d-flex align-items-center justify-content-center">
  <div>
    {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
    <form
      method="POST"
      action="{% url 'feedback:create' %}"
      enctype="multipart/form-data"
      class="u-clearfix u-form-custom-backend u-form-spacing-35 u-form-vertical u-inner-form"
      name="form-2"
      style="padding: 10px;"
    >
    {% csrf_token %}
      <div>
        {% crispy form form.viewer %}
        <button class="btn btn-dark my-4" type="submit">{% trans 'Submit' %}</button>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
