{% load static %}

{% block footer %}
<footer class="container-fluid" id="footer">
      <p>
         &copy;
         <span id="copyright">
           <script>
             let serverTime = Date.parse("{% now "c" %}")
             let clientTime = Date.now()

             diffrance = (serverTime - clientTime) / 1000 / 3600

             let copyrightTime;
             if (diffrance > 24) {
                copyrightTime = serverTime
             } else {
               copyrightTime = clientTime
             }

             document
               .getElementById('copyright')
               .appendChild(document.createTextNode(copyrightTime.getFullYear()))
           </script>
           <noscript>
             {% now 'Y' %}
           </noscript>
         </span>
         ,
         Umbara Project <br>
         All rights reserved
      </p>
</footer>
{% endblock footer %}
