{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex align-items-center justify-content-center">
  {% if validlink %}
  <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
  {% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  <form method="post" action="{{ app_path }}">
    {% csrf_token %}
    <div>
      {% crispy form %}
      <button class="btn btn-dark my-4" type="submit">{% trans 'Change my password' %}</button>
    </div>
  </form>
  {% else %}
  <p>
    {% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
  </p>
  {% endif %}
</div>
{% endblock %}
