{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex align-items-center justify-content-center">
    <form method="post" action="{{ app_path }}">
      {% csrf_token %}
      <div>
        <p>
          {% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}
        </p>
        {% crispy form %}
        <button class="btn btn-dark my-4" type="submit">{% translate 'Change my password' %}</button>
      </div>
  </form>
</div>

{% endblock %}
