{% extends 'users/auth/base_auth.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block button_text %}
  {% trans 'Change my password' %}
{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center">
  {% if validlink %}
  <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
  {% endfor %}
  {{ block.super }}
  {% else %}
  <p>
    {% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
  </p>
  {% endif %}
</div>
{% endblock %}
