{% extends 'table_products.html' %}


{% load i18n %}
{% load thumbnail %}

{% block table %}
<div>
  <p></p>
  <div class="row g-2">
    <div class="col-sm-8 col-md-12">
    {% regroup product_page by category as category_list %}
    {% for category in category_list %}
      <p class="p-2 display-6">{{ category.grouper.name }}</p>
      <table class="table">
        <thead>
        <tr>
          {% block table_header %}
            <td>{% trans 'Name' %}</td>
            <td>{% trans 'Description' %}</td>
            <td>{% trans 'Tags' %}</td>
            <td>{% trans 'Image' %}</td>
            <td></td>
          {% endblock table_header %}
        </tr>
        </thead>
        <tbody>
          {% for product in category.list %}
            <tr>
              <td>{{ product.name }}</td>
              <td>{{ product.text|safe|truncatewords_html:10 }}</td>
              <td>
                {% for tag in product.tags.all %}
                  {{ tag.name }}
                {% endfor %}
              </td>
              <td>
                {% thumbnail product.image "300x300" as image %}
                  <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}">
                {% endthumbnail %}
              </td>
              <td>
                <button class="btn">
                  <a class="btn btn-primary" href={% url 'catalog:item_detail' product_id=product.id %}>
                    {% trans 'Detail' %}
                  </a>
                </button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
    </div>
  </div>
</div>

{% endblock table %}
